body {
  font: 15px/1.8, "Lato"; sans-serif;
  line-hieght:1.5;
  color:#777;
  margin: 60px auto;
  width: 70%;
  background-color: #ffffff;
}

.container{
  width: 80%
  margin: auto;
  overflow: hidden;
}

/* Global */
.container{
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9
  font-size: 24px;
  padding: 25px
  overflow-x: hid  
}

ul{
 margin:0;
 padding:0;
}

.button_1{
  height: 38px;
  background: #DEAC5F;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color:#fff
}

.parallax {
  background: url ('img/social-cover-a.png')no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

/* Header **/
header{
  background:#fff
  color:#777;
  padding-top: 30px;
  min-height:70px;
  border-bottom: #DEAC5F 3px solid;
}

header a{
  color:#e8e7e5;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li {
  float: left;
  display:inline;
  padding: 0 20px 0 20px;
  
}

header #branding{
  float: left;
}

header #branding h1{
  marging:0;
}

header nav{
  float:right;
  margin-top:10px;
}

.highlight, .current a{
  color:#DEAC5F;
  font-weight:bold;
}

header a:hover{
  color:#DEAC5F;
  font-weight: bold;
  text-decoration: 2px dotted;
}


/*Top Section*/
#topsection{
  min-height: 400px;
  background-color: #E8E7E5;no repeat 0 -400px
  text-align: center;
  color: #777;
}
#showcase h1{
  margin-top: 100px
  font-size:55px;
  margin-bottom:10px
}

#showcase p{
  font-size: 20px;
}

/*newsletter*/
#newsletter{
  padding: 15px;
  color:#000;
  background:#f5f1e9;
}

#newsletter h1{
  float:left;
  padding-left: 10px;
}
#newsletter form{
  float:right;
  margin-top:15px;
}

#newsletter input [type="email"]{
  padding:4px;
  height: 25px;
  width:250px;
}

/*Blog Boxes*/
#BlogBoxes{
  margin-top: 250px
  text-align:center;
}

#BlogBoxes .box1, .box2, .box3{
  float: left; center; right;
  text-align: center;
  width: 30%;
  padding:10px;
}

#BlogBoxes .box img{
  width: 90px;
  height: auto;
}

/* Ingredients section */
#ingredients h2{
  border-top: #555 1px solid;
  border-left: #555 1px solid;
  border-right: #555 1px solid;
  padding-left: 1em;
}

#ingredients table{
  width: 70%;
}

#ingredients th{
  font-size: 18px;
  height: 10px;
}

#ingredients td{
  font-size: 14px;
  text-align: center;
  padding: 1px;
}
#ingredients table, th, td{
  border: #555 2px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

/* Preparation Section */
#preperation


h2 {
  font-family: 'Lato', sans-serif;
  
footer {
  padding: 20px;
  margin-top:20px 
  color: #e8e7e5;
  background-color: #375452;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
