body, html {
  height: 100%;
  margin: 10px;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
a: link {
color: #375452;
}
a: visited {
color: #DEAC5F;
}
a: focused {
color: #E8E7E5; background-color: #777;
}
a: active {
color: #DEAC5F; background-color: #777;
}
#wrapper {
 width: 960px;
}
main {
 float: left;
 width: 650px;
 margin: 0 20px;
}
aside {
 float: left;
 width: 250px;
 margin: 0 20px 0 0;
}
footer {
 clear: left;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
